<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Chrome Custom Tabs -->
    <uses-sdk tools:overrideLibrary="android.support.customtabs" />
    <!-- Support ChromeBook -->
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <!-- Set profile images -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Notifications -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Vibration -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- In App Billing -->
    <uses-permission android:name="com.android.vending.BILLING" />
    <!-- Required for Nearby Connections -->
        <!-- Bluetooth -->
            <!-- Request legacy Bluetooth permissions on older devices. -->
                <uses-permission android:maxSdkVersion="30" android:name="android.permission.BLUETOOTH"/>
                <uses-permission android:maxSdkVersion="30" android:name="android.permission.BLUETOOTH_ADMIN"/>
            <!-- New Bluetooth permissions for apps targeting Android 12 and higher -->
                <uses-permission android:minSdkVersion="31" android:name="android.permission.BLUETOOTH_ADVERTISE" />
                <uses-permission android:minSdkVersion="31" android:name="android.permission.BLUETOOTH_CONNECT" />
                <uses-permission android:minSdkVersion="31" android:name="android.permission.BLUETOOTH_SCAN" />
        <!-- WiFi -->
            <!-- Request legacy WiFi permissions on older devices. -->
                <uses-permission  android:name="android.permission.ACCESS_WIFI_STATE" />
                <uses-permission  android:name="android.permission.CHANGE_WIFI_STATE" />
            <!-- New WiFi permissions for apps targeting Android 13+ -->
                <uses-permission android:minSdkVersion="32" android:name="android.permission.NEARBY_WIFI_DEVICES" />
        <!-- Location Permissions -->
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- This fix solves an issue with the following Google libraries:
             - com.google.android.gms:play-services-measurement-api (from firebase-bom)
             - com.google.android.gms:play-services-ads
             During the merge of the build process, both libraries conflict with each other
             To workaround this issue we must explicit the resource to replace to avoid
             the conflict.

             More info here: https://stackoverflow.com/a/78086604/10502580

             As of 2024.07 it has NOT been fixed by Google.
             If they fix this issue this workaround could be erased.
             It can also cause trouble if one of the libraries above gets the fix.
         -->
        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/gma_ad_services_config"
            tools:replace="android:resource" />

        <!-- End of fix -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <!-- Ads -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
        <!-- Firebase -->
        <meta-data
            android:name="com.google.android.gms.ads.DELAY_APP_MEASUREMENT_INIT"
            android:value="true" />
        <!-- Support 18:9 displays -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <!-- Custom fonts -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".MainActivity"
            android:appCategory="productivity"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"
            android:exported="true"> <!-- To make this activity accessible to any app, like the Launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"
            android:exported="true"> <!-- To make this activity accessible to any app, like the Settings app -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marco97pa.puntiburraco.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HistoryActivity"
            android:label="@string/nav_history"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marco97pa.puntiburraco.MainActivity" />
        </activity>
        <activity
            android:name=".NearbyDiscoverActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/nav_mirroring"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marco97pa.puntiburraco.MainActivity" />
        </activity>
        <activity
            android:name=".UpgradeActivity"
            android:label="@string/upgrade"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.marco97pa.puntiburraco.MainActivity" />
        </activity>
        <activity
            android:name=".MainIntroActivity"
            android:theme="@style/Theme.App.LibrariesWithoutInsetsSupport" />
        <activity android:name=".ShareResultActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App.LibrariesWithoutInsetsSupport" />
        <!-- Trigger Google Play services to install the backported photo picker module. -->
        <service android:name="com.google.android.gms.metadata.ModuleDependencies"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES" />
            </intent-filter>
            <meta-data android:name="photopicker_activity:0:required" android:value="" />
        </service>
    </application>

</manifest>